<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Add Page</title>
</head>
<body>
<form method="post" action="/CIMS/AddServlet" accept-charset="UTF-8">
    <label for="id">id：</label>
    <input type="text" id="id" name="id" required>
    <br>
    <label for="name">名称：</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="price">单价：</label>
    <input type="number" id="price" name="price" required min="0"> <!-- 设置最小值为0 -->
    <br>
    <label for="number">库存：</label>
    <input type="number" id="number" name="number" required min="0"> <!-- 设置最小值为0 -->
    <br>
    <label for="remark">备注：</label>
    <textarea id="remark" name="remark"></textarea>
    <br>
    <input type="submit" value="添加">
</form>
</body>
</html>
